.like-button {
  position: relative;
  cursor: pointer;
  padding: 1px;
  display: flex;
  height: 30px;
  width: 30px;
  border-radius: 16px;
  border: none;
  background-color: #7227272f;
  overflow: hidden;
  z-index: 1;
}

/* Create the blurred border using a pseudo-element */
.like-button::before {
  content: "";
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border-radius: 20px;
  background: rgba(0, 123, 255, 0.8); /* Blue color */
  filter: blur(8px);
  z-index: -1;
}
