@import "tailwindcss";

@theme {
  --light-bg: #f9f9f9;
  --light-text: #111827;
  --dark-bg: #111827;
  --dark-text: #f9f9f9;
}



/* System dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg);
    color: var(--dark-text);
  }
}


/* System light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-bg);
    color: var(--light-text); /* Corrected */
  }
}

/* Manual dark mode class */
.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

body {
  background-color: var(--light-bg);
  color: var(--light-text);
}

